# rename this file to dshield.ini after you customize it

[dshield]
apikey = "your api key"
fromaddr = "your email address (from dshield login)"
uid = "your dshield numeric userid"
# ccaddr = "optional address to copy reports to for debugging"
# outside interfaces. you may specify multiple interfaces by delimiting them with a comma
interfaces="WAN" 
# set this to 1 to get more debug output
debug=0
#prevent auto ban ...
autorized_source_ip="172.16.0.60,10.0.0.100"
