# rename this file to dshield.ini after you customize it

[dshield]
apikey = "your api key"
fromaddr = "your email address (from dshield login)"
uid = "your dshield numeric userid"
# ccaddr = "optional address to copy reports to for debugging"
# outside interfaces. you may specify multiple interfaces by delimiting them with a comma
interfaces="WAN" 
# set this to 1 to get more debug output
debug=0
#prevent auto ban ...
authorized_source_ip="172.16.0.60,10.0.0.100"
# Filter output by source / target and ip / port if desired.
#source_exclude=/root/etc/dshield-source-exclude.lst
#source_port_exclude=/root/etc/dshield-source-port-exclude.lst
#target_exclude=/root/etc/dshield-target-exclude.lst
#target_port_exclude=/root/etc/dshield-target-port-exclude.lst
